<div class="row">
  <h1>Cart View</h1>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Seller</th>
        <th>Price</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.orderitems.each do |orderitem| %>
      <tr>
        <td><%= link_to orderitem.product.name, product_path(orderitem.product_id) %></td>
        <td><%= orderitem.quantity %></td>
        <td><%= link_to orderitem.product.vendor.username, vendor_path(orderitem.product.vendor_id) %></td>
        <td>$ <%= orderitem.product.price %></td>
        <td><%= link_to "Delete", orderitem_path(orderitem.id), method: :delete, class:"button" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Checkout", edit_order_path(@cart.id), class:"button" %>
</section>

</div>
