<% content_for :headline do %>
     <h1> Categories </h1>
<% end %>

<% content_for :categories do %>
     <% @categories.each do | category |%>
          <p class=label> <%= link_to category.label, category_products_path(category.id) %> </p>
     <% end %>
<% end %>

<% @categories.each do | category |%>
     <div class='product'>
          <% if category.products != [] %>
               <%= link_to category_products_path(category.id) do %>
                    <%= image_tag  category.sample_photo %>
               <% end %>
          <% else %>
               <%= link_to category_products_path(category.id) do %>
                    <%= image_tag 'category-04' %>
               <% end %>
           <% end %>
           <p class='details name'> <%= category.label %> </p>
     </div>
<% end %>

<%= link_to 'New Category', new_category_path %>
