<h4>Product</h4>

<p><%= image_tag(@product.photo_url, class: "product_img")%></p>

<section>
  <ul>
      <li>Name : <%= @product.name%></li>
      <li>Price: $<%= @product.price %></li>
      <li>Sold by: <%= link_to @product.vendor.username, vendor_path(@product.vendor_id) %></li>
      <li>Description : <%= @product.description %></li>
      <li>Average Rating : <%= @product.average_review %></li>

      <ul>List of Reviews </ul>
        <% @product.reviews.each do |review| %>
          <li> [ <%= review.rating %> ]  <%= review.comment %> </li>
        <% end %>
  </ul>
</section>

<section>
  <p> <%= link_to "Edit", edit_product_path(@product.id) %> </p>

  <p> <%= link_to "Create a product", new_product_path %> </p>


  </section>

  <!-- <h1>Add review</h1>

  <p>
  <%#= form_tag login_path do%>
    <%#= label_tag "rating"%>
    <%#= text_field_tag "rating"%>
    <%#= label_tag "comments"%>
    <%#= text_field_tag "comments"%>
    <%#= submit_tag "Add" %>
  <%# end %>
  </p> -->
