<h4>Product</h4>

<p><%= image_tag(@product.photo_url, class: "product_img")%></p>

<section>
  <ul>
      <li>Name : <%= @product.name%></li>
      <li>Price: $<%= @product.price %></li>
      <li>Sold by: <%= link_to @product.vendor.username, vendor_path(@product.vendor_id) %></li>
      <li>Description : <%= @product.description %></li>
      <ul>Summary : </ul>
        <% @product.reviews.each do |review| %>
          <li> <%= review.comment %> </li>
        <% end %>


  </ul>
</section>

<section>
  <p> <%= link_to "Edit", edit_product_path(@product.id) %> </p>

  <p> <%= link_to "Create a product", new_product_path %> </p>


  <p> <%= link_to "Delete", product_path(@product.id), method: :delete, data: {confirm: "Are you sure you want to delete this"} %> </p>

  <!-- <p><%#= link_to "Review", new_review_path(@review.id) %> </p> -->



</section>
